@import './fonts.scss';
@import './reset.scss';
@import './variables.scss';

@import './header.scss';
@import './hero.scss';
@import './footer.scss';

html {
   font-size: 62.5%;

   @media (max-width: 900px) {
      font-size: 50.5%;
   }
}

html, body {
   min-height: 100vh;
}

.site {
   min-height: 100vh;
   font-family: $main-font;
   background-color: $dark-blue-color;
   padding-top: 16px;
   overflow: hidden;
}

.container {
   max-width: 1670px;
   margin: 0 auto;
   padding: 0 15px;
}

.menu {
   font-size: 1.6rem;
   line-height: 1.25;

   &__link {
      color: $white-color;
      transition: color 0.3s ease-out;

      &:hover {
         color: $blue-color;
      }
   }
}

.decor-1 {
   position: absolute;
   transform: translate(-50%, -20%);
   left: 0;
   top: 0;
   z-index: 2;
   pointer-events: none;
}

.decor-2 {
   width: 70%;
   position: absolute;
   right: 0;
   z-index: 2;
   bottom: 0%;
   transform: translate(40%, 25%);
   pointer-events: none;
}

.gradient {
   pointer-events: none;
   z-index: 1;
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0) 90%);

   @media (max-width: 1200px) {
      display: none;
   }
}

.none {
   opacity: 0;
   visibility: hidden;
   z-index: -1;
}